Email Triage Agent (with Gmail) (1).json
{
  "name": "Email Triage Agent (with Gmail)",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Classify the following email into one of these categories: Work, Personal, Promotions, Social, Important, Spam, Updates, Finance, Travel, Support.\nRespond with only the category name.\n\nEmail:Classify the following email into one of these categories: Work, Personal, Promotions, Social, Important, Spam, Updates, Finance, Travel, Support.\nRespond with only the category name.\n\nEmail: {{$node[\"Get many messages\"].json[\"snippet\"]}}\nFrom: {{$node[\"Get many messages\"].json[\"From\"]}}",
        "options": {
          "systemMessage": "=You are an email categorization assistant. Your task is to analyze emails and apply appropriate labels to help organize the user's inbox.\n\nYou have access to two tools:\n1. **Get all Labels** - Retrieves available email labels\n2. **Add Labels** - Applies labels to emails\n\n### Instructions:\n- First, always use \"Get all Labels\" to see available categories\n- Analyze email content for: subject, sender, keywords, and context\n- Apply 1-3 most relevant labels per email\n- Be consistent in categorization patterns\n- If unsure between labels, choose the most specific one\n\n### Response Format:\n1. Brief summary of email content (1 sentence)\n2. Chosen labels with reasoning\n3. Use \"Add Labels\" tool with selected labels\n\nBe efficient and accurate. Focus on helping the user maintain an organized inbox."
        }
      },
      "id": "a4dccc7a-008e-40c5-90dd-c91090a144fd",
      "name": "Email Classification Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        304,
        16
      ]
    },
    {
      "parameters": {
        "content": "### Email Triage Agent\nAutomatically categorizes new, unread emails by analyzing their content and applying relevant labels using AI.\n\n#### Set up\n- Configure credentials in the **Gmail** and **Model** nodes\n- Create the labels you want to use in Gmail\n- Click **Execute workflow** button to test with the last email in your inbox\n\n#### Next steps\nTry setting up the agent to configure draft responses to important emails.\n",
        "height": 384,
        "width": 304,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -464,
        -96
      ],
      "typeVersion": 1,
      "id": "db4fcd5d-7f0a-41f6-9dd7-4100a63f38cc",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "id": "1fda1d78-a669-4be1-9aba-56c0abb7c247",
      "name": "Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        304,
        192
      ],
      "credentials": {
        "openAiApi": {
          "id": "ah1ysYkooYyPxWOA",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "=json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "{\n  \"model\": \"gpt-3.5-turbo\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Summarize today's emails briefly.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{$node[\\\"Get a message\\\"].json[\\\"snippet\\\"]}\"\n    }\n  ],\n  \"max_tokens\": 100\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        464,
        -256
      ],
      "id": "bb6c525c-2bb4-4901-b6d3-24b1f68396d5",
      "name": "HTTP Request",
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 11,
              "triggerAtMinute": 37
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -128,
        16
      ],
      "id": "534650b1-5a78-4ac4-a0ce-0c3af0ea0b7b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 2,
        "filters": {
          "readStatus": "unread"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        80,
        16
      ],
      "id": "c225689a-c98f-4b21-b32f-dbd6c7abb55a",
      "name": "Get many messages",
      "webhookId": "3dbb50c4-4e05-41e9-b1cb-cafc11d63e0d",
      "credentials": {
        "gmailOAuth2": {
          "id": "4HtTLIdUixgnxYBI",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "+919944967690",
        "toWhatsapp": true,
        "message": "=New Email Received\nFrom: {{$node[\"Get many messages\"].json[\"From\"]}}\n\nCategory: {{$node[\"Email Classification Agent\"].json[\"output\"]}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        832,
        0
      ],
      "id": "e4f203ba-a80d-4a59-b3be-c49bfef6e501",
      "name": "Send an SMS/MMS/WhatsApp message",
      "credentials": {
        "twilioApi": {
          "id": "rQzgYM0XqLMwLgVt",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n    return {\n        json: {\n            message: item.json.snippet + \"\\nCategory: \" + item.json.output\n        }\n    };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        0
      ],
      "id": "806097c3-8afa-47f5-bdce-4bc265efa6ea",
      "name": "Code"
    }
  ],
  "pinData": {},
  "connections": {
    "Model": {
      "ai_languageModel": [
        [
          {
            "node": "Email Classification Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Email Classification Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an SMS/MMS/WhatsApp message": {
      "main": [
        []
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Classification Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "5cd717e0-476c-48ef-9ea0-ed7014034e34",
  "meta": {
    "templateId": "email_triage_agent_with_gmail",
    "templateCredsSetupCompleted": true,
    "instanceId": "9036ed8ebedb4dbb082b77c0cc0e5a855ca85b180da7a82637737d8eab61ce1a"
  },
  "id": "OJzMqOGnnfXj3QgT",
  "tags": []
}